@import "../libs/normalize";
@import "../libs/nullstyle";
@import "./fonts";

body {
	font-family: "Montserrat";
	font-size: 18pt;
	background-color: #7a757f;

	h1 {
		font-size: 1.5em;
	}
	h2 {
		font-size: 1.25em;
	}
	h1,
	h2 {
		text-align: center;
		margin: 0 0 16px 0;
	}
}

.container {
	background-color: #7a757f;
	padding: 10px;
	&__item {
		border-radius: 10px;
		margin-bottom: 32px;
		padding: 16px;
		background-color: #fffbff;
	}
}

.form {
	&__label {
		cursor: pointer;
		&:hover .file-selector__file-name {
			border: 2px solid black;
			border-right: 0;
		}
		&:hover .file-selector__btn {
			border: 2px solid black;
			border-left: 0;
			background-color: rgb(85, 85, 85);
		}
	}
	&__element {
		display: flex;
		flex-direction: column;
		margin-bottom: 16px;
	}
	&__btn {
		display: block;
		height: 60px;
		border: none;
		border-radius: 10px;
		background-color: #6750a4;
		color: white;
		&:hover {
			background-color: #6044b0;
		}
		&:focus {
			border: 2px solid black;
		}
	}
}

.file-selector {
	display: flex;
	flex-direction: column;
	margin-top: 16px;

	* {
		line-height: 60px;
		text-align: center;
	}

	&__file-name {
		border: 1px solid gray;
		border-radius: 10px;
		display: block;
		min-height: 60px;
	}
	&__btn {
		margin-top: 10px;
		width: 100%;
		background-color: #625b71;
	}
	&__input {
		width: 0;
		height: 0;
		z-index: -1;
	}
}

.loader {
	&__img {
		vertical-align: top;
		max-width: 100%;
	}
}

.result {
	&__text {
		padding: 5px;
		border: 1px solid black;
		border-radius: 10px;
	}
}

@media (min-width: 900px) {
	.file-selector {
		flex-direction: row;

		&__file-name {
			font-size: 16pt;
			width: 67%;
			border-radius: 10px 0px 0px 10px;
			max-height: 60px;
			overflow: hidden;
		}
		&__btn {
			margin-top: 0;
			border-radius: 0px 10px 10px 0px;
		}
	}
	.container {
		margin: 0 auto;
		max-width: 60%;
	}
	.form {
		&__btn {
			width: 33%;
			align-self: flex-end;
		}
	}
	.loader {
		&__img {
			margin: 0 auto;
			max-width: 50%;
		}
	}
}
